body {
  background-color: rgb(242, 228, 175);
}

.u-read-more {
  font-size: 15px;
  color: black;
  text-decoration: none;
  list-style-type: none;
  text-align: bottom;
}

/* Basic design of blog card */
.wrapper1,
.wrapper2,
.wrapper3 {
  display: flex;
  clear: both;
  flex-wrap: wrap;
  justify-content: center;
  display: inline-table;
  margin: auto;
  flex-direction: row;
}

/* Blog post design starts from here */
.card {
  overflow: hidden;
  background: white; /* post background color */
  border-radius: 0.5rem;
  position: relative;
  width: 350px; /* post card width */
  margin: 1rem;
  transition: 250ms all ease-in-out;
  cursor: pointer;
  min-height: 450px;
}

.card:hover {
  /* blog post hover */
  transform: scale(1.05);
}

/*Design banner image*/
.u-banner-img {
  position: absolute;
  object-fit: cover;
  height: 14rem; /* image height */
  width: 100%;
}

/* Design of # tags, heading, description starts from here */
.card-body {
  margin: 15rem 1rem 1rem 1rem;
}

/* heading design */
.p-blog-title {
  line-height: 1.5rem;
  margin: 1rem 0 0.5rem;
}

/* description design */
.p-blog-description {
  color: #616b74;
  font-size: 0.9rem;
}

/*Design of profile image, name, followers starts from here*/
.card-profile {
  display: flex;
  margin-top: 2rem;
  align-items: center;
}

/* profile name */
.profile-name {
  font-size: 1rem;
}

* {
  box-sizing: border-box;
}

.container {
  height: 200px;
  position: relative;
  border: 2px solid black;
  max-width: 50%;
  margin-left: 25%;
  margin-top: 1%;
  margin-bottom: 1%;
}
.container button {
  border-radius: 10px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-top: 10px;
  background-color: black;
  color: white;
}

#source {
  text-align: center;
  margin-top: 50px;
}

@media (max-width: 800px) {
  .container {
    display: none;
  }
}
