body {
  background-color: rgb(242, 228, 175);
}
.button {
  color: white;
  background-color: black;
  border-radius: 10px;
}
#more {
  display: none;
}
.article-title {
  text-decoration-line: underline;
  text-decoration-color: rgb(255, 179, 0);
  text-decoration-thickness: 3px;
  text-underline-position: under;
  padding-bottom: 10px;
  text-align: center;
  font-size: 25px;
  margin-top: 20px;
}
.h-entry {
  border-style: none;
  padding: 20px 20px;
  margin: 0 20px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}
.h-entry a {
  text-decoration: none;
  color: rgb(255, 179, 0);
}

.dt-written {
  color: black;
  margin-left: 25px;
}

.u-read-more {
  font-size: 15px;
  color: black;
  text-decoration: none;
  list-style-type: none;
  text-align: bottom;
}

* {
  box-sizing: border-box;
}

.card img {
  width: 100%;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
