.u-img-clm {
  float: left;
  width: 33.33%;
  padding: 5px 5px;
}
.u-img-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  content: "";
  clear: both;
  display: table;
  padding: 10px 10px;
}
@media (max-width: 500px) {
  ul li {
    float: left;
    right: 10%;
  }
}

.article-title {
  text-decoration-line: underline;
  text-decoration-color: rgb(255, 179, 0);
  text-decoration-thickness: 3px;
  text-underline-position: under;
  padding-bottom: 10px;
  text-align: center;
  font-size: 25px;
  margin-top: 20px;
}
.h-entry {
  border-style: none;
  padding: 20px 20px;
  margin: 0 20px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}
.h-entry a {
  text-decoration: none;
  color: rgb(255, 179, 0);
}

.dt-written {
  color: black;
  margin-left: 25px;
}
