/*.heading {
    text-align: center;
    font-size: 30px;
    color: white;
    position: relative;
    margin-top: 10px;
  }*/
.u-img-clm {
  float: left;
  width: 33.33%;
  padding: 5px 5px;
}
.u-img-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  content: "";
  clear: both;
  display: table;
  padding: 10px 10px;
}
@media (max-width: 500px) {
  ul li {
    float: left;
    right: 10%;
  }
}
