html::-webkit-scrollbar {
  display: none;
}
body {
  font-family: "Times New Roman", Times, serif;
  background-size: cover;
  height: 100%;
  font-size: larger;
  background-color: rgb(133, 133, 133);
}
.profile-header {
  height: 200px;
  padding: 30px 50px;
  background-color: rgb(133, 133, 133);
}
.section-1 {
  float: left;
  width: 33.333%;
  padding: 0;
  margin: 0;
}
.section-1 img {
  height: 200px;
  border-radius: 200px;
}
.section-2 {
  display: inline-block;
  width: 33.333%;
  text-align: center;
  vertical-align: middle;
  padding: 50px;
  font-size: larger;
}
.name {
  text-decoration-line: underline;
  text-decoration-color: gold;
  text-decoration-thickness: 3px;
  text-underline-position: under;
  padding-bottom: 10px;
}
.section-3 {
  float: right;
  padding: 0;
  margin: 0;
}
.section-3 img {
  margin-top: 150px;
  width: 50px;
  border-radius: 5px;
}
nav {
  background-color: rgb(255, 255, 255);
  height: 50px;
  width: 100%;
}
.Logo {
  margin: 0 50px;
  font-size: 30px;
  line-height: 50px;
}
.u-logo {
  height: 20px;
  width: 20px;
  margin-top: 13px;
  margin-left: 10px;
}

nav ul {
  list-style-type: none;
  float: right;
  margin-right: 20px;
  margin-top: 20px;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  font-size: 20px;
  color: black;
  text-decoration: none;
}
a.active {
  background: gold;
  padding: 5px 5px;
}

.articleTitle {
  text-decoration-line: underline;
  text-decoration-color: gold;
  text-decoration-thickness: 3px;
  text-underline-position: under;
  padding-bottom: 10px;
  text-align: center;
  font-size: 25px;
  margin-top: 20px;
}
.h-entry {
  border-style: none;
  padding: 20px 20px;
  margin: 0 20px;
  border-radius: 10px;
  background-color: rgb(203, 203, 203);
}

.dt-written {
  color: gold;
  margin-left: 25px;
}

.u-readMore {
  font-size: 15px;
  color: gold;
  text-decoration: none;
  list-style-type: none;
}

/* Basic design of blog card */
.wrapper1,
.wrapper2,
.wrapper3 {
  display: table;
  clear: both;
  flex-wrap: wrap;
  justify-content: center;
  display: inline-table;
  margin: auto;
}

/* Blog post design starts from here */
.card {
  overflow: hidden;
  background: white; /* post background color */
  border-radius: 0.5rem;
  position: relative;
  width: 350px; /* post card width */
  margin: 1rem;
  transition: 250ms all ease-in-out;
  cursor: pointer;
}

.card:hover {
  /* blog post hover */
  transform: scale(1.05);
}

/*Design banner image*/
.u-banner-img {
  position: absolute;
  object-fit: cover;
  height: 14rem; /* image height */
  width: 100%;
}

/* Design of # tags, heading, description starts from here */
.card-body {
  margin: 15rem 1rem 1rem 1rem;
}

/* heading design */
.p-blog-title {
  line-height: 1.5rem;
  margin: 1rem 0 0.5rem;
}

/* description design */
.p-blog-description {
  color: #616b74;
  font-size: 0.9rem;
}

/*Design of profile image, name, followers starts from here*/
.card-profile {
  display: flex;
  margin-top: 2rem;
  align-items: center;
}

/* profile name */
.profile-name {
  font-size: 1rem;
}
