html::-webkit-scrollbar {
  display: none;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 5px;
  background-size: cover;
  height: 100%;
  font-size: larger;
  background-color: rgb(133, 133, 133);
}
.profile-header {
  height: 200px;
  padding: 30px 50px;
  background-color: rgb(133, 133, 133);
}
.section-1 {
  float: left;
  width: 33.333%;
  padding: 0;
  margin: 0;
}
.section-1 img {
  height: 200px;
  border-radius: 200px;
}
.section-2 {
  display: inline-block;
  width: 33.333%;
  text-align: center;
  vertical-align: middle;
  padding: 50px;
  font-size: larger;
}
.name {
  text-decoration-line: underline;
  text-decoration-color: gold;
  text-decoration-thickness: 3px;
  text-underline-position: under;
  padding-bottom: 10px;
  color: white;
}
.section-3 {
  float: right;
  padding: 0;
  margin: 0;
}
.section-3 img {
  margin-top: 150px;
  width: 50px;
  border-radius: 5px;
}
nav {
  background-color: rgb(255, 255, 255);
  height: 50px;
  width: 100%;
}
.Logo {
  margin: 0 50px;
  font-size: 30px;
  line-height: 50px;
}
.u-logo {
  height: 20px;
  width: 20px;
  margin-top: 13px;
  margin-left: 10px;
}

nav ul {
  list-style-type: none;
  float: right;
  margin-right: 20px;
  margin-top: 20px;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  font-size: 20px;
  color: black;
  text-decoration: none;
}
a.active {
  background: gold;
  padding: 5px 5px;
}

.articleTitle {
  text-decoration-line: underline;
  text-decoration-color: gold;
  text-decoration-thickness: 3px;
  text-underline-position: under;
  padding-bottom: 10px;
  text-align: center;
  font-size: 25px;
  margin-top: 20px;
}
.h-entry {
  border-style: none;
  padding: 20px 20px;
  margin: 0 20px;
  border-radius: 10px;
  background-color: rgb(203, 203, 203);
}
.h-entry a {
  text-decoration: none;
  color: rgb(255, 128, 0);
}

.dt-written {
  color: gold;
  margin-left: 25px;
}

.u-readMore {
  font-size: 15px;
  color: gold;
  text-decoration: none;
  list-style-type: none;
  text-align: bottom;
}

/* Basic design of blog card */
.wrapper1,
.wrapper2,
.wrapper3 {
  display: table;
  clear: both;
  flex-wrap: wrap;
  justify-content: center;
  display: inline-table;
  margin: auto;
}

/* Blog post design starts from here */
.card {
  overflow: hidden;
  background: white; /* post background color */
  border-radius: 0.5rem;
  position: relative;
  width: 350px; /* post card width */
  margin: 1rem;
  transition: 250ms all ease-in-out;
  cursor: pointer;
  min-height: 450px;
}

.card:hover {
  /* blog post hover */
  transform: scale(1.05);
}

/*Design banner image*/
.u-banner-img {
  position: absolute;
  object-fit: cover;
  height: 14rem; /* image height */
  width: 100%;
}

/* Design of # tags, heading, description starts from here */
.card-body {
  margin: 15rem 1rem 1rem 1rem;
}

/* heading design */
.p-blog-title {
  line-height: 1.5rem;
  margin: 1rem 0 0.5rem;
}

/* description design */
.p-blog-description {
  color: #616b74;
  font-size: 0.9rem;
}

/*Design of profile image, name, followers starts from here*/
.card-profile {
  display: flex;
  margin-top: 2rem;
  align-items: center;
}

/* profile name */
.profile-name {
  font-size: 1rem;
}
* {
  box-sizing: border-box;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 50px auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid rgb(255, 200, 0);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.p-timeline-content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}
.p-timeline-content a {
  color: rgb(255, 196, 0);
  text-decoration: none;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}
.heading {
  text-align: center;
  font-size: 30px;
  color: white;
  position: relative;
  margin-top: 10px;
}
.u-img-clm {
  float: left;
  width: 33.33%;
  padding: 5px 5px;
}
.u-img-row {
  content: "";
  clear: both;
  display: table;
  padding: 10px 10px;
}
